html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: customFonts;
    src: url(/Users/scottbruzenak/repos/sign-up-form/fonts/Satoshi-Regular.otf);
}

body{
	font-size: 30px;
	font-family: customFonts;
	/* background-color: aliceblue; */
}

.container{
	position:fixed;
  	top:0px;
  	right:0px;
  	bottom:0px;
  	left:0px;
	display:flex;
	flex-direction: row;
}

.sidebar{
	display: flex;
	width:40%;

}

.pix{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;

}

.banner{
	position: fixed;
  width: 38.1%;
  background: rgb(78, 97, 106);
  opacity: 0.6;
  color: white;
  top: 45%;
  text-align: center;
  font-size: 1.3em;
  /* font-family: roboto; */
  border-radius: 10%;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:50%;
	padding:50px;

}

.textheader{
	justify-content: flex-end;
	height: 15px;
	top: 35%;
}

form{
	font-size: 18px;
	display:flex;
	/* height:50%; */
	/* align-items: space-around; */
	justify-content:flex-start;
	margin: 20px;
	/* background-color: azure; */
	opacity: 0.9;
	border-radius: 20%;
}

.submitbox{
	height:10%;

}


/* button{
	top: 80%;
	background-color: #a0aeb2;
        border: .5px solid rgb(242, 209, 209);
        border-radius: 20%;
        color: azure;
        padding: 8px;
        padding: 15px 32px;
        box-shadow: 0 0 30px 0 rgb(210, 221, 198),
                    0 0 30px 0 rgb(202, 235, 226),
                    0 0 10px 0 rgb(232, 220, 220) inset;
} */



input, label {
    display:block;
	margin-top:10px;
	margin-right: 20px;
}

label{
	font-size:11px;
	/* bottom:90%;
	 */
}

input{
	width: 200px;
	height: 24px;
	border: 3px solid #000;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	
}


  
  input:invalid {
	border-color: red;
  }
  
  input:valid {
	border-color: green;
  }

/* input:autofill {
    border: 3px solid darkorange;
}

input:-webkit-autofill {
    border: 3px solid darkorange;
} */

 

/* CSS */
button {
	top: 80%;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}